/* CSS HEX 
--federal-blue: #03064fff;
--lavender-web: #e8e8ffff;
--black-bean: #390c0bff;
--burnt-umber: #763120ff;
--sinopia: #bf532cff;
--fawn: #f1ae7dff;
--light-coral: #f06e6eff;
--mustard: #ffdd56ff;
*/

body{
    background-color: #03064fff;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;   
}
.analu {
    background-image: url('carteirou-images/analu.png');
    background-position: left bottom; /* Imagem 1 à esquerda e embaixo */
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1; /* Fica abaixo das outras imagens */
}

.joaquim {
    background-image: url('carteirou-images/joaquim.png');
    background-position: right bottom; /* Imagem 2 à direita e embaixo */
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1; /* Fica abaixo das outras imagens */
}

.felipeEAmanda {
    background-image: url('carteirou-images/juncao.png');
    background-position: center bottom; /* Imagem 3 no centro e embaixo */
    background-size: auto; /* Ajusta a imagem para cobrir o espaço */
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2; /* Fica acima das outras imagens */
}

.content {
    position: relative;
    z-index: 3; /* Fica acima das imagens de fundo */
    color: white; /* Cor do texto */
    text-align: center;
    padding: 35px;
    display: flex;
    justify-content: center;
}

.alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

.carteirouText {
    font-size: 140px;
    width: 850px;
    height: 180px;
    background: #03064fff;
    text-align: center;
    opacity: 90%;
    border: 3px;
    border-radius: 80px;
    
}