.botaoIndex {
    position: relative;
    display: block;
    margin-block-start: -100px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 80px;
    z-index: 3;
    border: 3px;
    border-radius: 80px;
    background-color: #e8e8ffff;
    font-size: 55px;
    color:#03064fff;
    cursor: pointer;
    transition: transform 200ms ease-in-out;

}

.botaoIndex:hover{
    transform: scale(1.07);
    color: rgb(31, 26, 177);
    
}

.botaoForms {
    width: 200px;
    height: 60px;
    border: 3px;
    border-radius: 80px;
    background-color: #03064fff;
    font-size: 30px;
    color:#e8e8ffff;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.botaoForms:hover {
    transform: scale(1.07);
    background-color: rgb(31, 26, 177);
}

